@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
    height: 100vh;
    align-items: center;
    margin: 0; /* Reset default margin */
    padding-top: 80px; /* Add padding to the top to accommodate the fixed navbar */
}

.header {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid black;
    box-sizing: border-box; /* Include padding in the total height calculation */
}

.logo {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700
}

.navbar a {
    position: relative;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    z-index: 2;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height:1.5px;
    background: black;
    transition: .3s;
    z-index: 2;
}

.navbar a:hover::before{
    width: 100%;
    z-index: 2;
}

.container {
    overflow: scroll;
    min-height: 320px;
    margin: 80px auto 0; /* Adjust top margin for space under fixed navbar */
    z-index: 1;
    max-width: 90%; /* Use a percentage for responsive width */
    border: 1px solid grey;
    box-sizing: border-box; /* Include border in the total width/height calculation */
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.tabs {
    border-bottom: 1px solid grey;
    background-color: transparent;
    font-size: 25px;
    justify-content: center;
    color: rgb(0, 0, 0);
    display: flex;
}

.tabs span {
    background: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid rgb(255, 255, 255);
}

.tabs span:hover {
    background: white;
    cursor: pointer;
    color: black;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
    vertical-align: middle;
  }

.info img {
    width: 50px; /* Set the desired width */
    height: 50px; /* Maintain the aspect ratio */
}
.info img:hover{
    cursor:pointer
}

