@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Medium.ttf);
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;

}

img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}

h1 {
    color: #1ed760;
    font-size: 70px;
    padding-top: 20%;
    padding-bottom: 35px;
    font-family: 'Montserrat';
    display:inline-block;
}

p {
    color: #ffffff;
    padding-bottom: 50px;
    position: static;
    font-family: 'Montserrat';
    font-weight: 'normal';
    font-size: 22px;
}

button {
    background-color: #1ed760;
    border-radius: 32px;
    border: 0px;
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;

}
button:hover {
    background-color: #ffffff;
    border-radius: 32px;
    border: 0px;
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;

}