@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: radial-gradient(#e2e2e2, #c9d6ff);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.container {
    background-color: #ffffff;
    border-radius: 30px;
    width: 768px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    min-height: 320px;

}

img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}

h1 {
    color: #1ed760;
    font-size: 70px;
    padding-top: 7%;
    padding-bottom: 25px;
    font-family: 'Montserrat';
    display: inline-block;
    animation: fade-up 1.5s;

}

.second {
    animation: fade-in 2.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    padding-bottom: 40px;
}

p {
    color: #000000;
    position: static;
    padding: 0px 90px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-weight: 'normal';
    font-size: 22px;
    
}

button {
    background-color: #1ed760;
    border-radius: 32px;
    border: 0px;
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    

}
button:hover {
    background-color: #159141;
    border-radius: 32px;
    border: 0px;
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    cursor: pointer;

}

/* KEYFRAMES */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.9)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}