<!DOCTYPE html>
{% extends "base.html" %}
{% block short %}
<div class="info">
    <table>
        <tr>
            <th>Rank</th>
            <th>Artwork</th>
            <th>Artist</th>
        </tr>
    {% for sArtist in sArtists %}
        <tr>
            <td>{{sArtist.number | safe}}</td>
            <td><a href="{{ sArtist.url }}"><img src="{{sArtist.image }}"></a></td>
            <td><span class="artist-name">{{sArtist.name | safe }}</span></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block medium %}
<div class="info">
    <table>
        <tr>
            <th>Rank</th>
            <th>Artwork</th>
            <th>Artist</th>
        </tr>
    {% for mArtist in mArtists %}
        <tr>
            <td>{{mArtist.number | safe}}</td>
            <td><a href="{{ mArtist.url }}"><img src="{{mArtist.image }}"></a></td>
            <td><span class="artist-name">{{mArtist.name | safe }}</span></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block long %}
<div class="info">
    <table>
        <tr>
            <th>Rank</th>
            <th>Artwork</th>
            <th>Artist</th>
        </tr>
    {% for aArtist in aArtists %}
        <tr>
            <td>{{aArtist.number | safe}}</td>
            <td><a href="{{ aArtist.url }}"><img src="{{aArtist.image }}"></a></td>
            <td><span class="artist-name">{{aArtist.name | safe }}</span></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}