<!DOCTYPE html>
<HTML LANG="en">
    
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Data Landing Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
</head>

<body>

    <header class="header">
        
        <a href="#" class="logo">Stats for Spotify</a>

        <nav class="navbar">
            <a href="#">Top tracks</a>
            <a href="#">Top artists</a>
            <a href="#">Top albums</a>
        </nav>
    </header>

</body>

</HTML>