<!DOCTYPE html>
<html>
    <head>
        <title> Homepage</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
<body>
    <div class="container" id="container">
        <h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png" alt=''/>
            Stats for Spotify
        </h1>
        <div class="second">
            <p>Get statistics about your top artists, songs, and genres from Spotify.</p>
            <a href='http://www.example.com' target='_blank'>
                <button>Log in with Spotify</button>
            </a>
        </div>
    </div>
</body>
</html>