<!DOCTYPE html>
{% extends "base.html" %}
{% block short %}
<div class="info">
    <table>
        <tr>
            <th>Rank</th>
            <th>Artwork</th>
            <th>Track</th>
            <th>Artist</th>
        </tr>
    {% for sTrack in sTracks %}
        <tr>
            <td><span class="track-name">{{sTrack.number | safe}}</span></td>
            <td><a href="{{ sTrack.url }}"><img src="{{sTrack.image }}"></a></td>
            <td><span class="track-name">{{sTrack.name | safe }}</span></td>
            <td><span class="track-artist">{{sTrack.artist | safe }}</span></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block medium %}
<div class="info">
    <table>
        <tr>
            <th>Rank</th>
            <th>Artwork</th>
            <th>Track</th>
            <th>Artist</th>
        </tr>
    {% for mTrack in mTracks %}
        <tr>
            <td><span class="track-name">{{mTrack.number | safe}}</span></td>
            <td><a href="{{ mTrack.url }}"><img src="{{mTrack.image }}"></a></td>
            <td><span class="track-name">{{mTrack.name | safe }}</span></td>
            <td><span class="track-artist">{{mTrack.artist | safe }}</span></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block long %}
<div class="info">
    <table>
        <tr>
            <th>Rank</th>
            <th>Artwork</th>
            <th>Track</th>
            <th>Artist</th>
        </tr>
    {% for aTrack in aTracks %}
        <tr>
            <td><span class="track-name">{{aTrack.number | safe}}</span></td>
            <td><a href="{{ aTrack.url }}"><img src="{{aTrack.image }}"></a></td>
            <td><span class="track-name">{{aTrack.name | safe }}</span></td>
            <td><span class="track-artist">{{aTrack.artist | safe }}</span></td>
        </tr>
        {% endfor %}
    </table>
</div>
 {% endblock %}
 
